body {
    background-image: url(../img/background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

header, footer, main{
    padding: 0 159px 0 159px;
    width: 1028px;
}

header{
    display: flex;
    margin-top: 46px;
}

.milan-logo{
    height: 52px;
    width: 200px;
}

.milan-logo a{
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
}

.milan-logo a::before{
    margin-left: 56px;
    position: absolute;
    content: "Milan";
    font-size: 29px;
    line-height: 29px;
    font-weight: 700;
}

.milan-logo a:hover{ 
    color: #F26522;
}


.hover_image_logo{
    opacity: 0;
}

.hover_image_logo:hover{
    opacity: 1;
}

.milan-logo a:hover .hover_image_logo{
    opacity: 1;
}

.contact-links{
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 600px;
}

.contact-links a{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.phone-number{
    margin-top: 16px;
}

.phone-number:hover{
    color: #F26522;
}

.email-text:hover{
    color: #F26522;
}

.grid-container{
    margin-top: 17px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 261px);
    grid-column-gap: 60px;
    grid-row-gap: 37px;
    grid-template-areas:
    "item1 item2 item2"
    "item4 item5 item6";
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.grid-container img{
    width: 300px;
    height: 220px;
}

.grid-container span{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.item1{
    background-image: url('../img/shopping\ tours.png');
    width: 300px;
    height: 220px;
}

.shopping-tour-hover{
    display: none;
    margin-top: 166px;
    height: 55px;
    background-color: #F26522;
}

.from-text{
    position: absolute;
    margin: 11px 0 0 21px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}

.flex-container{
    position: absolute;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    width: max-content;
}

.price-text{
    margin-left: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.details-link{
    margin-left: 131px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 14px;
}

.details-link::after{
    margin-left: 10px;
    content: ">";
}

.text-hover{
    margin-top: 240px;
}

.text-hover:hover{
    color: #F26522;
}

.text-hover:hover .shopping-tour-hover {
    display: block;
}

.item1:hover .shopping-tour-hover {
    display: block;
}

.item1:hover .text-hover{
    margin-top: 19px;
    color: #F26522;
}

.copyright-container{
    margin-top: 90px;
}

.item2{
    background-image: url('../img/sightseeing\ tours.png');
    width: 300px;
    height: 220px;
}

.item2:hover .shopping-tour-hover {
    display: block;
}

.item2:hover .text-hover{
    margin-top: 19px;
    color: #F26522;
}

.item3{
    background-image: url('../img/food\ tours.png');
    width: 300px;
    height: 220px;
}

.item3:hover .shopping-tour-hover {
    display: block;
}

.item3:hover .text-hover{
    margin-top: 19px;
    color: #F26522;
}

.item4{
    background-image: url('../img/bars\ and\ nightlife.png');
    width: 300px;
    height: 220px;
}

.item4:hover .shopping-tour-hover {
    display: block;
}

.item4:hover .text-hover{
    margin-top: 19px;
    color: #F26522;
}

.item5{
    background-image: url('../img/art\ and\ architecture.png');
    width: 300px;
    height: 220px;
}

.item5:hover .shopping-tour-hover {
    display: block;
}

.item5:hover .text-hover{
    margin-top: 19px;
    color: #F26522;
}

.item6{
    background-image: url('../img/walking\ tours.png');
    width: 300px;
    height: 220px;
}

.item6:hover .shopping-tour-hover {
    display: block;
}

.item6:hover .text-hover{
    margin-top: 19px;
    color: #F26522;
}

.copyright-text{
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}
